*{
    font-family: "Geologica", serif;;
}
.app{
    padding: 0 80px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}
.header .nav-items ul li {
    list-style-type: none;
    padding: 10px;
    font-size: 1.125rem;
    font-weight: 400;
}
.logo img{
    width: 120px;
    background: unset;
    height: fit-content;
    object-fit: contain;
    aspect-ratio: auto;
}
.nav-items ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.res-card img{
    width: 100%;
    border-radius: 1.5rem;
    object-fit: contain;
    opacity: 1;
    will-change: transform, opacity;
    filter: unset;
    transition: opacity 0.25s, transform 0.25s;
    height: 200px;
    object-fit: cover;
}
.desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.desc :where(h2,h3,h4,h5,h6){
    line-height: 1.2;
    margin-block-end: 0px;
    font-weight: 500;
    text-align: left;
    font-size: 1.5rem;
    margin: 0.8rem 0px 0.6rem;
    max-width: 80%;
    color: rgb(28, 28, 28);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(14, 80, 32);
    color: rgb(255, 255, 255);
    height: 1.5rem;
    min-width: 1.5rem;
    padding: 0px 0.4rem;
    font-size: 0.875rem;
    border-radius: 0.6rem;
    border: 1px solid rgb(14, 80, 32);
}
.res-type{
    display: flex;
    justify-content: space-between;
    color: rgb(105, 105, 105);
}
.res-type > p {
    font-size: inherit;
    text-align: left;
    color: #696969;
    max-width: 56%;
    margin: 0;
    padding: 0 0 .4rem;
    overflow: hidden;
    max-width: 62%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.deliver-time{
    text-align: end;
    margin: 0px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0.4rem;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.6rem;
    color: rgb(54, 54, 54);
    padding: 0.2rem 0.5rem 0.3rem;
}
.search{
    padding: 10px 10px;
}
.restaurant-container{
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    width: 100%;
    margin: 3.6rem 0px;
}
.res-card{
    padding: 10px;
    border-radius: 1.5rem;
    border: 0.1rem solid rgb(232, 232, 232);
    &:hover{
        border-color: rgb(232, 232, 232);
        box-shadow: rgba(28, 28, 28, 0.10) 0px 0.1rem 1.8rem;
    }
}
.restaurant-container a{
    max-width: 400px;
    width: 100%;
    text-decoration: none;
}
.card-image{
    min-height: 200px;
}
.filter-btn{
    cursor: pointer;
    padding: 8px;
    background: transparent;
    border: 1px solid rgb(232, 232, 232);
    &:hover{
        background: rgb(232, 232, 232);
        box-shadow: 0 0 0 1px rgb(232, 232, 232);
    }
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    margin: 3.6rem 0px;
    justify-content: flex-start;
}
.shimmer-container .card{
    width: 300px;
    height: 300px;
    border-radius: 1.5rem;
    background: rgb(232, 232, 232);
    animation: shimmer 1s infinite;
}
.login-btn{
    background: rgb(234, 64, 64);
    padding: 8px 12px;
    border-radius: 8px;
    border: unset;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 10px;
    min-width: 100px;
}
.search > input{
    padding: 8px;
    min-width: 500px;
    border-radius: 8px;
    border: 1px solid rgb(232, 232, 232);
    font-size: 1rem;
    margin-right: 10px;
    outline: none;
    text-decoration: none;
}
.filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0px;
}
.search > button{
    padding: 8px 12px;
    border-radius: 8px;
    border: unset;
    background: rgb(146, 207, 105);
    color: white;
    font-size: 1rem;
    outline: none;
    text-decoration: none;
}
.res-type span:first-child{
    width: 65%;
}
.res-type span:last-child{
    width: 35%;
}
.res-menu-img img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 1.5rem;
    margin: 0 auto;
}
.display-menu{
    border-top: 1px solid rgb(232, 232, 232);
    padding: 16px 0px;
    margin: 24px 16px 16px 16px;
   
}
p{
    margin: 10px 0;
}
.container{
    max-width: 800px;
    min-height: 800px;
    margin: 20px auto 0;
}
.menu{
    text-align: center;
}
.display-menu ul{
    padding: unset;
}
.display-menu ul li{
    list-style: none;
    padding: 8px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(232, 232, 232);
}
.dish-item-description{
    font-size: 0.75rem;
    width: 70%;
}
.dish-image{
    object-fit: cover;
    border-radius: 12px;
    height: 144px;
}
.cuisines{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.35px;
    color: rgb(255, 82, 0);
    margin: 0px auto;
    text-decoration: underline;
}
.res-details-wrapper{
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(2, 6, 12, 0.15);
    background: white;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 8px 16px 0px;
}
.location{
    color: rgba(2, 6, 12, 0.6);
}
.res-details{
    font-weight: 700;
}
.nav-items ul li a{
    text-decoration: none;
    color: #333;
    &:hover{
        text-decoration: underline;
    }
}
.user-card{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(2, 6, 12, 0.15);
}